<!doctype html>
<html ng-app="angularCameraDemo">
<head>
    <title>Angular Camera Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
    <div ng-controller='ctrl'>

        <camera
            rtc="rtc"
            options="options">
            <video class="webcam-live" ng-show="rtc.type !== 'FLASH'"></video>
            <div class="webcam-flash" ng-show="rtc.type === 'FLASH'"></div>
        </camera>

        <hr/>
        <div>
            <button id="captureBtn" ng-click="capture()">Capture</button>
            <button id="captureBurst" ng-click="burst()">Burst</button>
        </div>
        <hr/>
        <div id="result" style="display: inline;">
            <img ng-src="{{data}}" />
        </div>

    </div>

    <script src="../angular-camera.js"></script>
    <script src="app.js"></script>
</body>

</html>
